[submodule "apps/amnsbr/app-remove-first-volumes"]
	path = apps/amnsbr/app-remove-first-volumes
	url = https://github.com/amnsbr/app-remove-first-volumes
	datalad-url = https://github.com/amnsbr/app-remove-first-volumes
[submodule "apps/anibalsolon/app-connectivity-gradient"]
	path = apps/anibalsolon/app-connectivity-gradient
	url = https://github.com/anibalsolon/app-connectivity-gradient
	datalad-url = https://github.com/anibalsolon/app-connectivity-gradient
[submodule "apps/anibalsolon/app-reho"]
	path = apps/anibalsolon/app-reho
	url = https://github.com/anibalsolon/app-reho
	datalad-url = https://github.com/anibalsolon/app-reho
[submodule "apps/anibalsolon/app-seed-correlation"]
	path = apps/anibalsolon/app-seed-correlation
	url = https://github.com/anibalsolon/app-seed-correlation
	datalad-url = https://github.com/anibalsolon/app-seed-correlation
[submodule "apps/anibalsolon/bl-app-prfmodel"]
	path = apps/anibalsolon/bl-app-prfmodel
	url = https://github.com/anibalsolon/bl-app-prfmodel
	datalad-url = https://github.com/anibalsolon/bl-app-prfmodel
[submodule "apps/anibalsolon/HD-BET_app"]
	path = apps/anibalsolon/HD-BET_app
	url = https://github.com/anibalsolon/HD-BET_app
	datalad-url = https://github.com/anibalsolon/HD-BET_app
[submodule "apps/anibalsolon/PRFmodel-app"]
	path = apps/anibalsolon/PRFmodel-app
	url = https://github.com/anibalsolon/PRFmodel-app
	datalad-url = https://github.com/anibalsolon/PRFmodel-app
[submodule "apps/bacaron/app-combine-2d-to-3d"]
	path = apps/bacaron/app-combine-2d-to-3d
	url = https://github.com/bacaron/app-combine-2d-to-3d
	datalad-url = https://github.com/bacaron/app-combine-2d-to-3d
[submodule "apps/bacaron/app-filter-wmc"]
	path = apps/bacaron/app-filter-wmc
	url = https://github.com/bacaron/app-filter-wmc
	datalad-url = https://github.com/bacaron/app-filter-wmc
[submodule "apps/bacaron/app-freesurfer"]
	path = apps/bacaron/app-freesurfer
	url = https://github.com/bacaron/app-freesurfer
	datalad-url = https://github.com/bacaron/app-freesurfer
[submodule "apps/bacaron/app-mergeTCK"]
	path = apps/bacaron/app-mergeTCK
	url = https://github.com/bacaron/app-mergeTCK
	datalad-url = https://github.com/bacaron/app-mergeTCK
[submodule "apps/bacaron/app-mrtrix3-act"]
	path = apps/bacaron/app-mrtrix3-act
	url = https://github.com/bacaron/app-mrtrix3-act
	datalad-url = https://github.com/bacaron/app-mrtrix3-act
[submodule "apps/bacaron/app-reslice-rois-dwi"]
	path = apps/bacaron/app-reslice-rois-dwi
	url = https://github.com/bacaron/app-reslice-rois-dwi
	datalad-url = https://github.com/bacaron/app-reslice-rois-dwi
[submodule "apps/bacaron/app-reslice-roi-t1"]
	path = apps/bacaron/app-reslice-roi-t1
	url = https://github.com/bacaron/app-reslice-roi-t1
	datalad-url = https://github.com/bacaron/app-reslice-roi-t1
[submodule "apps/bcmcpher/app-networkmatrices"]
	path = apps/bcmcpher/app-networkmatrices
	url = https://github.com/bcmcpher/app-networkmatrices
	datalad-url = https://github.com/bcmcpher/app-networkmatrices
[submodule "apps/bcmcpher/app-StructuralCountNetwork"]
	path = apps/bcmcpher/app-StructuralCountNetwork
	url = https://github.com/bcmcpher/app-StructuralCountNetwork
	datalad-url = https://github.com/bcmcpher/app-StructuralCountNetwork
[submodule "apps/brainlife/app-acpcART"]
	path = apps/brainlife/app-acpcART
	url = https://github.com/brainlife/app-acpcART
	datalad-url = https://github.com/brainlife/app-acpcART
[submodule "apps/brainlife/app-AFQclean"]
	path = apps/brainlife/app-AFQclean
	url = https://github.com/brainlife/app-AFQclean
	datalad-url = https://github.com/brainlife/app-AFQclean
[submodule "apps/brainlife/app-align-mp2rage-to-t1"]
	path = apps/brainlife/app-align-mp2rage-to-t1
	url = https://github.com/brainlife/app-align-mp2rage-to-t1
	datalad-url = https://github.com/brainlife/app-align-mp2rage-to-t1
[submodule "apps/brainlife/app-align-n-average-images"]
	path = apps/brainlife/app-align-n-average-images
	url = https://github.com/brainlife/app-align-n-average-images
	datalad-url = https://github.com/brainlife/app-align-n-average-images
[submodule "apps/brainlife/app-align-t2-to-t1"]
	path = apps/brainlife/app-align-t2-to-t1
	url = https://github.com/brainlife/app-align-t2-to-t1
	datalad-url = https://github.com/brainlife/app-align-t2-to-t1
[submodule "apps/brainlife/app-benson14-retinotopy"]
	path = apps/brainlife/app-benson14-retinotopy
	url = https://github.com/brainlife/app-benson14-retinotopy
	datalad-url = https://github.com/brainlife/app-benson14-retinotopy
[submodule "apps/brainlife/app-checkOrientation"]
	path = apps/brainlife/app-checkOrientation
	url = https://github.com/brainlife/app-checkOrientation
	datalad-url = https://github.com/brainlife/app-checkOrientation
[submodule "apps/brainlife/app-CIT168Parc"]
	path = apps/brainlife/app-CIT168Parc
	url = https://github.com/brainlife/app-CIT168Parc
	datalad-url = https://github.com/brainlife/app-CIT168Parc
