[submodule "apps/amnsbr/app-remove-first-volumes"]
	path = apps/amnsbr/app-remove-first-volumes
	url = https://github.com/amnsbr/app-remove-first-volumes
	datalad-url = https://github.com/amnsbr/app-remove-first-volumes
[submodule "apps/anibalsolon/app-connectivity-gradient"]
	path = apps/anibalsolon/app-connectivity-gradient
	url = https://github.com/anibalsolon/app-connectivity-gradient
	datalad-url = https://github.com/anibalsolon/app-connectivity-gradient
[submodule "apps/anibalsolon/app-reho"]
	path = apps/anibalsolon/app-reho
	url = https://github.com/anibalsolon/app-reho
	datalad-url = https://github.com/anibalsolon/app-reho
[submodule "apps/anibalsolon/app-seed-correlation"]
	path = apps/anibalsolon/app-seed-correlation
	url = https://github.com/anibalsolon/app-seed-correlation
	datalad-url = https://github.com/anibalsolon/app-seed-correlation
[submodule "apps/anibalsolon/bl-app-prfmodel"]
	path = apps/anibalsolon/bl-app-prfmodel
	url = https://github.com/anibalsolon/bl-app-prfmodel
	datalad-url = https://github.com/anibalsolon/bl-app-prfmodel
